<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a>
                    Synopsis Framework Sample
                </a>
            </li>
        </ol>
        <ul>
            <li>
            
                    <a>Home </a>> 
             
            </li>
            <li><a>Dashboard</a>></li>
            <li>
          
                <a>Ph.D Process Excercise</a>>
             
            </li>
            <li>
                <a> Synopsis Framework Sample</a>
            </li>
        </ul>
    </nav>

    <div class="left-right-btn">
        <button><img src="assets/img/left.png" alt=""></button>
        <button><img src="assets/img/right.png" alt=""></button>
    </div>
</div>
<hr />


<div class="container-fluid">
    <div class="container">
  
        <div class="card-wrapp">
            <div class="card">
                <header>
                    <div class="title">
                        Synopsis Framework Sample
                    </div>
              
                  
                </header>
                <main>
                    <a href="https://asthadigital.s3.ap-south-1.amazonaws.com/anushram2.0/assets/Law.pdf" target="_blank">
                        <img src="assets/img/vidyapun-pdf-viewer.webp" alt="phd synopsis index sample management law">
                    </a>
                    <ul>
                        <li> <span><i class="bi bi-check-lg"></i></span> Law</li>
                        <li><span><i class="bi bi-check-lg"></i></span> Commerce</li>
                        <li><span><i class="bi bi-check-lg"></i></span> Education</li>
                        <li><span><i class="bi bi-check-lg"></i></span> Management</li>
                    </ul>
                </main>
                <footer>
                    
                    <button type="button">
                        <a href="https://asthadigital.s3.ap-south-1.amazonaws.com/anushram2.0/assets/Law.pdf" target="_blank">
                            View
                        </a>
                    </button>
                </footer>
            </div>
           
        </div>
        <div class="card-wrapp">
            <div class="card">
                <header>
                    <div class="title">
                        Synopsis Framework Sample
                    </div>
              
                  
                </header>
                <main>
                    <a href="https://asthadigital.s3.ap-south-1.amazonaws.com/anushram2.0/assets/History.pdf" target="_blank">

                        <img src="assets/img/vidyapun-pdf-viewer.webp" alt="phd synopsis index sample management law">
                    </a>
                    <ul>
                        <li> <span><i class="bi bi-check-lg"></i></span> History</li>
                        <li> <span><i class="bi bi-check-lg"></i></span> Geography</li>
                        <li> <span><i class="bi bi-check-lg"></i></span> History</li>
                        <li> <span><i class="bi bi-check-lg"></i></span>Economics</li>
                    </ul>
                </main>
                <footer>
                    <button type="button">
                        <a href="https://asthadigital.s3.ap-south-1.amazonaws.com/anushram2.0/assets/History.pdf" target="_blank">
                            View
                        </a>    
                    </button>
                </footer>
            </div>
           
        </div>
        <div class="card-wrapp">
            <div class="card">
                <header>
                    <div class="title">
                        Synopsis Framework Sample
                    </div>
              
                  
                </header>
                <main>
                    <a href="https://asthadigital.s3.ap-south-1.amazonaws.com/anushram2.0/assets/English.pdf" target="_blank">
                        <img src="assets/img/vidyapun-pdf-viewer.webp" alt="phd synopsis index sample management law">
                    </a>
                    <ul>
                        <li> <span><i class="bi bi-check-lg"></i></span>English</li>
                        <li> <span><i class="bi bi-check-lg"></i></span>Hindi</li>
                        <li> <span><i class="bi bi-check-lg"></i></span>Sanskrit</li>
                        <li> <span><i class="bi bi-check-lg"></i></span>Pol. Science</li>
                    </ul>
                </main>
                <footer>
                    <button type="button">
                        <a href="https://asthadigital.s3.ap-south-1.amazonaws.com/anushram2.0/assets/English.pdf" target="_blank">
                            View
                        </a>
                    </button>
                </footer>
            </div>
           
        </div>
        <div class="card-wrapp">
            <div class="card">
                <header>
                    <div class="title">
                        Synopsis Framework Sample
                    </div>
              
                  
                </header>
                <main>
                    <a href="https://asthadigital.s3.ap-south-1.amazonaws.com/anushram2.0/assets/Chemistry.pdf" target="_blank">

                        <img src="assets/img/vidyapun-pdf-viewer.webp" alt="phd synopsis index sample management law">
                    </a>
                    <ul>
                        <li> <span><i class="bi bi-check-lg"></i></span>Chemistry</li>
                        <li> <span><i class="bi bi-check-lg"></i></span>Pharmacy</li>
                        <li> <span><i class="bi bi-check-lg"></i></span>Biochemistry</li>
                        
                    </ul>
                </main>
                <footer>
                    <button type="button">
                        <a href="https://asthadigital.s3.ap-south-1.amazonaws.com/anushram2.0/assets/Chemistry.pdf" target="_blank">
                            View
                        </a>
                    </button>
                </footer>
            </div>
           
        </div>
        <div class="card-wrapp">
            <div class="card">
                <header>
                    <div class="title">
                        Synopsis Framework Sample
                    </div>
              
                  
                </header>
                <main>
                    <a href="https://asthadigital.s3.ap-south-1.amazonaws.com/anushram2.0/assets/Chemistry.pdf" target="_blank">

                        <img src="assets/img/vidyapun-pdf-viewer.webp" alt="phd synopsis index sample management law">
                    </a>
                    <ul>
                        <li> <span><i class="bi bi-check-lg"></i></span>Physics</li>
                        <li> <span><i class="bi bi-check-lg"></i></span>Botony</li>
                        <li> <span><i class="bi bi-check-lg"></i></span>Zoology</li>
                        <li> <span><i class="bi bi-check-lg"></i></span>Biotechnology</li>
                    </ul>
                </main>
                <footer>
                    <button type="button">
                        <a href="https://asthadigital.s3.ap-south-1.amazonaws.com/anushram2.0/assets/Chemistry.pdf" target="_blank">
                            View
                        </a>
                    </button>
                </footer>
            </div>
           
        </div>
        <div class="card-wrapp">
            <div class="card">
                <header>
                    <div class="title">
                        Synopsis Framework Sample
                    </div>
              
                  
                </header>
                <main>
                    <a href="https://s3.console.aws.amazon.com/s3/object/asthadigital?region=ap-south-1&prefix=anushram2.0/assets/Engineering.pdf" target="_blank">

                        <img src="assets/img/vidyapun-pdf-viewer.webp" alt="phd synopsis index sample management law">
                    </a>
                    <ul>
                        <li> <span><i class="bi bi-check-lg"></i></span>Civil</li>
                        <li> <span><i class="bi bi-check-lg"></i></span>Mechanical</li>
                        <li> <span><i class="bi bi-check-lg"></i></span>Electrical</li>
                        <li> <span><i class="bi bi-check-lg"></i></span>Electronics</li>
                     
                        
                    </ul>
                </main>
                <footer>
                    <button type="button">
                        <a href="https://s3.console.aws.amazon.com/s3/object/asthadigital?region=ap-south-1&prefix=anushram2.0/assets/Engineering.pdf" target="_blank">

                            View
                        </a>
                    </button>
                </footer>
            </div>
           
        </div>
        <div class="card-wrapp">
            <div class="card">
                <header>
                    <div class="title">
                        Synopsis Framework Sample
                    </div>
              
                  
                </header>
                <main>
                    <a href="https://asthadigital.s3.ap-south-1.amazonaws.com/anushram2.0/assets/cse.pdf" target="_blank">

                        <img src="assets/img/vidyapun-pdf-viewer.webp" alt="phd synopsis index sample management law">
                    </a>
                    <ul>
                        <li> <span><i class="bi bi-check-lg"></i></span>CSE</li>
                        <li> <span><i class="bi bi-check-lg"></i></span>Computer Application</li>
                        <li> <span><i class="bi bi-check-lg"></i></span>Automobile</li>
                        
                    </ul>
                </main>
                <footer>
                    <button type="button">
                        <a href="https://asthadigital.s3.ap-south-1.amazonaws.com/anushram2.0/assets/cse.pdf" target="_blank">

                            View
                        </a>
                    </button>
                </footer>
            </div>
           
        </div>
    </div>
</div>