  <!-- Start Motivation Featured Area -->
  <div class="motivation-featured-area bg-fluid-black-color pt-100 pb-70">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="motivation-featured-item">
                    <div class="icon">
                        <i class="bi bi-person-fill-check"></i>
                    </div>
                    <h3>
                        <a href="">Ph.D & Master Researh Support</a>
                    </h3>
                    <p>Ph.D & Master Research or dissertation assitence from the subject experts with exercise module of learning</p>
                    <a href="" class="featured-btn">View </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="motivation-featured-item">
                    <div class="icon bg-0B767A">
                        <i class="bi bi-patch-question-fill"></i>
                    </div>
                    <h3>
                        <a href="">A2Z of Research</a>
                    </h3>
                    <p>What come first and how to what will be end dot for academic research, we answer all with uniques exersis based assistence.</p>
                    <a href="" class="featured-btn">View</a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="motivation-featured-item">
                    <div class="icon bg-9879B6">
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                    <h3>
                        <a href="">Mentor & Expert Support</a>
                    </h3>
                    <p>Best Mentor and subject experts from across globe available with us to help you in the reseach.</p>
                    <a href="" class="featured-btn">View </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="motivation-featured-item">
                    <div class="icon bg-FF305B">
                        <i class="bi bi-briefcase-fill"></i>
                    </div>
                    <h3>
                        <a href="">Interview/Viva Prepration</a>
                    </h3>
                    <p>Fear of Interview or reseach defence viva! Don't worry we make you confident and Viva ready.</p>
                    <a href="" class="featured-btn">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Motivation Featured Area -->