
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Privacy</li>
        </ol>
      </nav>
</div>
<div class="container">

    <h2>
        Privacy Policy
    </h2>
    <p>
        At anushram we recognise the importance and need for personal privacy. 
        This Policy outlines the types of data that may be collected from you, 
        and the cookies which are used to provide a seamless website experience for you.
    </p>
    <h2>Information We Collect From You</h2>
    <p> While extensive professional information will be collected as needed to 
        identify your profile to prospective employers and mentors, we will not collect any personal
         information other than that required to uniquely identify you as the holder of a anushram account. 
         Please note: any information volunteered in a candidate’s profile is classified as professional information. 
        anushram will try to curtail any personal details present within the submitted documents, 
    </p>

    <h2>How Information is Used</h2>
    <p>
        anushram does not use volunteered information in any way other than forwarding it to partner institutions and 
        corporate entities so that they may take a decision on the suitability of the candidate. 
        anushram is not responsible for any way the partner institutions and corporate entities 
        choose to use your information.
    </p>
    <h2>Cookie Policy</h2>
    <p>
        Cookies are small text files that are placed on your machine to help the site provide a better user experience. 
        anushram uses cookies to make sure the website theme works efficiently and loads correctly in different browsers (among other things).
    </p>
    <p>
        However, you may prefer to disable cookies on this site and on others. 
        The most effective way to do this is to disable cookies in your browser.
    </p>
    <div>
        In case you have any further concerns, queries or objections about measures relating to the privacy of your information, you may reach out to us at 
        <span>

            info@anushram.com
        </span>
        or 
        <span>
            0124- 4252196
        </span>
        
    </div>
</div>