    <!-- Start Training Course Banner -->
    <div class="training-course-banner-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12">
                    <div class="training-course-banner-content">
                        <h1 style="color:navy;">Join India's <span>Best PhD</span> Expert Assistance</h1>
                        <p>Gain a complete mastery over the Ph.D process to achieve your research goals. We're here to guide you and answer all questions.</p>
                        <div class="btn-box">
                            <a href="#" class="default-btn">
                                <i class="bx bx-move-horizontal icon-arrow before"></i>
                                <span class="label">View All Courses</span>
                                <i class="bx bx-move-horizontal icon-arrow after"></i>
                            </a>
                       
                            <!-- <div class="demo-video">
                                <div class="play-btn" routerLink="/video/demo">
                                    Demo Video&nbsp;
                                    <i class="bi bi-play"></i>
                                </div>
                            </div> -->
                        </div>
                     

                        <div class="trusted-by-content">
                            <span class="title">Our Brands:</span>
                                    
                            <div class="partner-slides owl-carousel owl-theme owl-loaded owl-drag">
            
                                
                            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-849px, 0px, 0px); transition: all 0.25s ease 0s; width: 1981px;"><div class="owl-item cloned" style="width: 111.5px; margin-right: 30px;"><div class="single-partner-item">
                                    <a href="#" class="d-block">
                                        <!-- <img src="assets/img/9.png" alt="image"> -->
                                    </a>
                                </div></div><div class="owl-item cloned" style="width: 111.5px; margin-right: 30px;"><div class="single-partner-item">
                                    <a href="#" class="d-block">
                                        <!-- <img src="assets/img/10.png" alt="image"> -->
                                    </a>
                                </div></div><div class="owl-item cloned" style="width: 111.5px; margin-right: 30px;"><div class="single-partner-item">
                                    <a href="#" class="d-block">
                                        <!-- <img src="assets/img/11.png" alt="image"> -->
                                    </a>
                                </div></div><div class="owl-item cloned" style="width: 111.5px; margin-right: 30px;"><div class="single-partner-item">
                                    <a href="#" class="d-block">
                                        <!-- <img src="assets/img/12.png" alt="image"> -->
                                    </a>
                                </div></div><div class="owl-item" style="width: 111.5px; margin-right: 30px;"><div class="single-partner-item">
                                    <a href="#" class="d-block">
                                        <!-- <img src="assets/img/7.png" alt="image"> -->
                                    </a>
                                </div></div><div class="owl-item" style="width: 111.5px; margin-right: 30px;"><div class="single-partner-item">
                                    <a href="#" class="d-block">
                                        <!-- <img src="assets/img/8.png" alt="image"> -->
                                    </a>
                                </div></div><div class="owl-item active" style="width: 111.5px; margin-right: 30px;"><div class="single-partner-item">
                                    <a href="https://www.resumeocean.com" class="d-block" target="_blank">
                                        <img src="assets/img/logo/resumeocean.png" alt="resumeocean.com">
                                    </a>
                                </div></div><div class="owl-item active" style="width: 111.5px; margin-right: 30px;"><div class="single-partner-item">
                                    <a href="https://www.sudakshta.com" class="d-block" target="_blank">
                                        <img src="assets/img/logo/shudakshita(Tm).png" alt="www.sudakshta.com">
                                    </a>
                                </div></div><div class="owl-item active" style="width: 111.5px; margin-right: 30px;"><div class="single-partner-item">
                                    <a href="https://www.vidyapun.com/" class="d-block" target="_blank">
                                        <img src="assets/img/logo/vidyapun(R).png" alt="www.vidyapun.com">
                                    </a>
                                </div></div><div class="owl-item active" style="width: 111.5px; margin-right: 30px;"><div class="single-partner-item">
                                    <a href="http://www.proacharya.com/" class="d-block" target="_blank">
                                        <img src="assets/img/logo/Prayug(TM).png" alt="www.proacharya.com">
                                    </a>
                                </div></div><div class="owl-item cloned" style="width: 111.5px; margin-right: 30px;"><div class="single-partner-item">
                                    <a href="#" class="d-block" target="_blank">
                                        <img src="assets/img/logo/Pro(TM).png" alt="image">
                                    </a>
                                </div></div><div class="owl-item cloned" style="width: 111.5px; margin-right: 30px;"><div class="single-partner-item">
                                    <a href="#" class="d-block">
                                        <!-- <img src="assets/img/8.png" alt="image"> -->
                                    </a>
                                </div></div><div class="owl-item cloned" style="width: 111.5px; margin-right: 30px;"><div class="single-partner-item">
                                    <a href="#" class="d-block">
                                        <!-- <img src="assets/img/9.png" alt="image"> -->
                                    </a>
                                </div></div><div class="owl-item cloned" style="width: 111.5px; margin-right: 30px;"><div class="single-partner-item">
                                    <a href="#" class="d-block">
                                        <!-- <img src="assets/img/10.png" alt="image"> -->
                                    </a>
                                </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><i class="bx bx-left-arrow-alt"></i></button><button type="button" role="presentation" class="owl-next"><i class="bx bx-right-arrow-alt"></i></button></div><div class="owl-dots disabled"></div></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12">
                    <div class="training-course-banner-image">
                        <img src="assets/img/training-course-banner.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Training Course Banner -->