


<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a>
                    Area Of Interest & Title of Research
                </a>
            </li>
        </ol>
        <ul>
            <li>
            
                    <a>Home </a>> 
             
            </li>
            <li><a>Dashboard</a>></li>
            <li>
          
                <a>Ph.D Process Excercise</a>>
             
            </li>
            <li>
                <a>Research Launcher</a>>
            </li>
            <li>
                <a >Area of Interest</a>
            </li>
        </ul>
    </nav>

    <div class="left-right-btn">
        <button><img src="assets/img/left.png" alt=""></button>
        <button><img src="assets/img/right.png" alt=""></button>
    </div>
</div>
<hr />

<div class="container-fluid form d-flex justify-content-center align-items-center">
   <div class="form-wrapper shadow mb-3">
    <div class="box">
        <h3>What is Area of Interest?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias sed sapiente optio vel, soluta necessitatibus praesentium animi modi ab tempore.</p>


        <span class="play-btn shadow"><i class="bi bi-play-btn-fill"></i></span>
    </div>
    <div class="box">
        box-2
    </div>
   </div>

   <div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <!-- <button type="button" class="btn btn-info">Previous</button> -->
    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
    <button type="button" class="btn btn-info text-white bg-gradient">Next Chapter <i class="bi bi-arrow-right-square"></i></button>
  </div>
</div>