<!-- Start Page Title Area -->
<div class="page-title-area page-title-style-three item-bg3 jarallax" data-jarallax='{"speed": 0.3}'
    style="height: 10vh;">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/certificate"></a> Certificate</li>
                <li>{{data.title}}</li>
            </ul>
            <h2>{{data.title}}</h2>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Courses Details Area -->
<section class="courses-details-area pt-100 pb-70">
    <div class="container">
        <div class="courses-details-header">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="courses-title">
                        <h2>{{data.title}}</h2>
                        <p>{{data.description}}</p>
                    </div>

                    <div class="courses-meta">
                        <ul>
                            <li>
                                <i class="bx bx-folder-open"></i>
                                <span>Category</span>
                                <a routerLink="">{{data.category}}</a>
                            </li>
                            <li>
                                <i class="bx bx-group"></i>
                                <span>Students Enrolled</span>
                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#">541,214</a>
                            </li>
                            <li>
                                <i class="bx bx-calendar"></i>
                                <span>Last Updated</span>
                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#">04/14/2023</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="courses-price">
                        <div class="courses-review">
                            <div class="review-stars">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                              
                                <i class="bi bi-star-half"></i>
                            </div>
                            <span class="reviews-total d-inline-block">(200 reviews)</span>
                        </div>

                        <div class="price">$150</div>
                        <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="default-btn"><i class="bx bx-paper-plane icon-arrow before"></i><span class="label">Buy Course</span><i class="bx bx-paper-plane icon-arrow after"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="courses-details-image text-center">
                    <img src="../../../assets/images/certificate/cer01.jpg" alt="image">
                </div>

                <div class="courses-details-desc">
                    <h3>Description</h3>
                    <p><strong>{{data.description}}</strong></p>

                    <p>Here are some more details of what you get with The Business Intelligence Analyst Course:</p>

                    <ul class="description-features-list">
                        <li><strong>Work Book Excercise</strong> – Make sense of terms like business intelligence, traditional and big data, traditional statistical methods, machine learning, predictive analytics, supervised learning, unsupervised learning, reinforcement learning, and many more;</li>
                        <li><strong>Video</strong> – Before you start using SQL, it is highly beneficial to learn about the underlying database theory and acquire an understanding of why databases are created and how they can help us manage data;</li>
                        <li><strong>MCQ</strong> – when you can work with SQL, it means you don’t have to rely on others sending you data and executing queries for you. You can do that on your own. This allows you to be independent and dig deeper into the data to obtain the answers to questions that might improve the way your company does its business;</li>
                    </ul>

                    <h3>Courses Video</h3>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                What is the process of doing a PhD after qualifying for the UGC NET?
                              
                              </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <h5 style="color:grey; font-weight: 300;">After qualifying for the UGC NET Exam there are a few steps to start your PhD:</h5>
                                 <ol style="color:grey; font-weight: 300;">
                                  <li>
                                    The student will have to apply to the universities of his/her choice. For some Universities, the student has to give entrance tests and few Universities exempt you from entrance tests.
                                  </li>
                                  <li>
                                    Depending upon the interest area of the student, he/she will have to meet and finalize his/her area of research and the supervisor beforehand.
                                  </li>
                                  <li>
                                    The admission to a course depends upon whether the selected supervisor has a slot available for taking up new scholars or not.
                                  </li>
                                  <li>
                                    In many cases, JRFs will get preference to non-JRF candidates with UGC-NET.
                                  </li>
                                 </ol>
                                 

                                 
                            
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                What is the process of doing a PhD after qualifying for the UGC NET?
                              
                              </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <h5 style="color:grey; font-weight: 300;">After qualifying for the UGC NET Exam there are a few steps to start your PhD:</h5>
                                 <ol style="color:grey; font-weight: 300;">
                                  <li>
                                    The student will have to apply to the universities of his/her choice. For some Universities, the student has to give entrance tests and few Universities exempt you from entrance tests.
                                  </li>
                                  <li>
                                    Depending upon the interest area of the student, he/she will have to meet and finalize his/her area of research and the supervisor beforehand.
                                  </li>
                                  <li>
                                    The admission to a course depends upon whether the selected supervisor has a slot available for taking up new scholars or not.
                                  </li>
                                  <li>
                                    In many cases, JRFs will get preference to non-JRF candidates with UGC-NET.
                                  </li>
                                 </ol>
                                 

                                 
                            
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="courses-accordion">
                        <ul class="accordion">
                            <li class="accordion-item">
                                <a class="accordion-title active" href="javascript:void(0)">
                                    <i class="bx bx-chevron-down"></i>
                                    Section 1: ReactJS - Getting Started
                                </a>

                                <div class="accordion-content show">
                                    <ul class="courses-lessons">
                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">01.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">Introduction</a>
                                                
                                                <span class="preview">Preview</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 5 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">02.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">What is React?</a>
                                                
                                                <span class="preview">Preview</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 10 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">03.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">React Web Apps</a>
                                                
                                                <span class="preview">Preview</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 15 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">04.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">Real-World SPAs</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 50 minute</span>

                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="attrachment-video" data-bs-toggle="tooltip" data-placement="top" title="Download Video"><i class="bx bx-file"></i> File</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">05.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">Adding the Right React Version</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 58 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="bx bx-chevron-down"></i>
                                    Section 2: Refreshing Next Generation JavaScript
                                </a>

                                <div class="accordion-content">
                                    <ul class="courses-lessons">
                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">01.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">Introduction</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 5 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">02.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">What is React?</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 10 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">03.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">React Web Apps</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 15 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">04.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">Real-World SPAs</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 50 minute</span>

                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="attrachment-video" data-bs-toggle="tooltip" data-placement="top" title="Download Video"><i class="bx bx-file"></i> File</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">05.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">Adding the Right React Version</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 58 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="bx bx-chevron-down"></i>
                                    Section 3: Understanding the Base Features &amp; Syntax
                                </a>

                                <div class="accordion-content">
                                    <ul class="courses-lessons">
                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">01.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">Introduction</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 5 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">02.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">What is React?</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 10 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">03.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">React Web Apps</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 15 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">04.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">Real-World SPAs</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 50 minute</span>

                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="attrachment-video" data-bs-toggle="tooltip" data-placement="top" title="Download Video"><i class="bx bx-file"></i> File</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">05.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">Adding the Right React Version</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 58 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="bx bx-chevron-down"></i>
                                    Section 4: Create a New React App
                                </a>

                                <div class="accordion-content">
                                    <ul class="courses-lessons">
                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">01.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">Introduction</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 5 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">02.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">What is React?</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 10 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">03.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">React Web Apps</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 15 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">04.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">Real-World SPAs</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 50 minute</span>

                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="attrachment-video" data-bs-toggle="tooltip" data-placement="top" title="Download Video"><i class="bx bx-file"></i> File</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">05.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">Adding the Right React Version</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 58 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="bx bx-chevron-down"></i>
                                    Section 5: Integrating with Other Libraries
                                </a>

                                <div class="accordion-content">
                                    <ul class="courses-lessons">
                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">01.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">Introduction</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 5 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">02.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">What is React?</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 10 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">03.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">React Web Apps</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 15 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">04.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">Real-World SPAs</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 50 minute</span>

                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="attrachment-video" data-bs-toggle="tooltip" data-placement="top" title="Download Video"><i class="bx bx-file"></i> File</a>
                                            </div>
                                        </li>

                                        <li class="single-lessons">
                                            <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">05.</span>
                                                
                                                <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="lessons-title">Adding the Right React Version</a>
                                                
                                                <span class="locked">Locked</span>
                                            </div>

                                            <div class="lessons-info">
                                                <span class="duration" data-bs-toggle="tooltip" data-placement="top" title="Duration"><i class="bx bx-time"></i> 58 minute</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-bs-toggle="tooltip" data-placement="top" title="Play Video"><i class="bx bx-play-circle"></i> Video</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div> -->

                    <h3>What you'll learn</h3>

                    <div class="why-you-learn">
                        <ul>
                            <li>
                                <span>
                                    <i class="bx bx-check"></i>
                                    Become an expert in Statistics
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="bx bx-check"></i>
                                    Boost your resume with skills
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="bx bx-check"></i>
                                    Gather, organize, data
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="bx bx-check"></i>
                                    Use data for improved
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="bx bx-check"></i>
                                    Present information KPIs
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="bx bx-check"></i>
                                    Perform quantitative
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="bx bx-check"></i>
                                    Analyze current data
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="bx bx-check"></i>
                                    Discover how to find trends
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="bx bx-check"></i>
                                    Understand the fundamentals
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="bx bx-check"></i>
                                    Use SQL to create, design
                                </span>
                            </li>
                        </ul>
                    </div>

                    <h3>Requirements</h3>

                    <ul class="requirements-list">
                        <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</li>
                        <li>The standard Lorem Ipsum passage, used since the 1500s.</li>
                    </ul>

                    <h3>Who this course is for:</h3>

                    <ul class="audience-list">
                        <li>Beginners to programming and data science</li>
                        <li>Students eager to learn about job opportunities in the field of data science</li>
                        <li>Candidates willing to boost their resume by learning how to combine the knowledge of Statistics, SQL, and Tableau in a real-world working environment</li>
                        <li>People interested in a Business Intelligence Analyst career</li>
                    </ul>

                    <h3>Meet Your Instructors</h3>

                    <div class="courses-author">
                        <div class="author-profile-header"></div>
                        <div class="author-profile">
                            <div class="author-profile-title">
                                <img src="./Raque - Education Courses &amp; Online Training HTML Template_files/user1.jpg" class="shadow-sm rounded-circle" alt="image">

                                <div class="author-profile-title-details d-flex justify-content-between">
                                    <div class="author-profile-details">
                                        <h4>James Anderson</h4>
                                        <span class="d-block">Photographer, Author, Teacher</span>
                                    </div>

                                    <div class="author-profile-raque-profile">
                                        <a href="https://templates.envytheme.com/raque/default/single-instructor.html" class="d-inline-block">View Profile on Raque</a>
                                    </div>
                                </div>
                            </div>
                            <p>James Anderson is a celebrated photographer, author, and teacher who brings passion to everything he does.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                    </div>

                   
                </div>

               
            </div>

            <div class="col-lg-4">
                <div class="courses-sidebar-information">
                    <ul>
                        <li>
                            <span><i class="bx bx-group"></i> Lectures:</span>
                            40
                        </li>
                        <li>
                            <span><i class="bx bx-video-recording"></i> Video:</span>
                            200
                        </li>
                        <li>
                            <span><i class="bx bx-time"></i> Duration:</span>
                            200 Hours
                        </li>
                        <li>
                            <span><i class="bx bxs-graduation"></i> Subject:</span>
                            Photography
                        </li>
                        <li>
                            <span><i class="bx bx-atom"></i> Quizzes:</span>
                            Yes
                        </li>
                        <li>
                            <span><i class="bx bxs-badge-check"></i> Level:</span>
                            Introductory
                        </li>
                        <li>
                            <span><i class="bx bx-support"></i> Language:</span>
                            English
                        </li>
                        <li>
                            <span><i class="bx bx-text"></i> Video Subtitle:</span>
                            English
                        </li>
                        <li>
                            <span><i class="bx bx-certification"></i> Certificate:</span>
                            Yes
                        </li>
                    </ul>
                </div>

                <div class="courses-sidebar-syllabus">
                    <h3>Course Syllabus</h3>
                    <span class="chapter">Chapter 1</span>
                    <h4>Lessons</h4>

                    <div class="courses-list">
                        <ul>
                            <li>
                                Introduction
                            </li>
                            <li>
                                <span class="number">1.</span> Secret 1: Sell The Problem, Not The Solution (14:37)
                            </li>
                            <li>
                                Quiz - Secret 1: Sell The Problem, Not The Solution
                            </li>
                            <li>
                                <span class="number">2.</span> Secret 2: Think Like a Magazine, Not a Salesman (4:30)
                            </li>
                            <li>
                                Quiz - Secret 2: Think Like a Magazine, Not a Salesman
                            </li>
                            <li>
                                <span class="number">3.</span> Secret 3: Content Is King, but Consistency Is Queen (3:56)
                            </li>
                            <li>
                                Quiz - Secret 3: Content Is King, but Consistency Is Queen
                            </li>
                            <li>
                                <span class="number">4.</span> Secret 4: Punch Above Your Weight Class (11:00)
                            </li>
                            <li>
                                <span class="number">5.</span> Secret 5: Ethically Steal Your Competitors' Customers (8:12)
                            </li>
                            <li>
                                <span class="number">6.</span> Secret 6: Bulid an Audience By Borrowing (10:25)
                            </li>
                            <li>
                                Quiz - Secret 6: Bulid an Audience By Borrowing
                            </li>
                            <li>
                                <span class="number">7.</span> Secret 7: Be a Shadow, Not a Ghost (5:19)
                            </li>
                            <li>
                                <span class="number">8.</span> Bonus: Tips to Be a 5 Stars Freelancer (16:07)
                            </li>
                            <li>
                                <span class="number">9.</span> Closing Thoughts (3:15)
                            </li>
                            <li>
                                Quiz - Secret 7: Be a Shadow, Not a Ghost
                            </li>
                        </ul>
                    </div>

                    <span class="chapter">Chapter 2</span>
                    <h4>Final Quiz</h4>

                    <div class="courses-list">
                        <ul>
                            <li>
                                Final Quiz
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="courses-purchase-info">
                    <h4>Interested in this course for your Business or Team?</h4>
                    <p>Train your employees in the most in-demand topics, with edX for Business.</p>

                    <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="d-inline-block">Purchase now</a>
                    <a href="https://templates.envytheme.com/raque/default/single-courses-2.html#" class="d-inline-block">Request Information</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Courses Details Area -->