<div class="bread">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a>
                    Demo Video
                </a>
            </li>
        </ol>
        <ul>
            <li>
                <span>
                    <a>Home </a>> <a>Demo Video</a>
                </span>
            </li>
        </ul>
    </nav>

    <div class="left-right-btn">
        <button><img src="../../../../../assets/img/left-right.png" alt=""></button>
        <button></button>
    </div>
</div>
<hr/>


<div class="container-fluid">
    <div class="video-card">        
        <video width="320" height="240" controls muted>
            <source src="../../../../../assets/media/nature.mp4" type="video/mp4">
        </video>
        <div class="caption">
            <div class="title">
                Demo Video Course Work
            </div>
            <div class="description">
                Demo video course work description
            </div>
        </div>
    </div>
    <div class="video-card">
        <video width="320" height="240" controls muted>
            <source src="../../../../../assets/media/nature.mp4" type="video/mp4">
        </video>
        <div class="caption">
            <div class="title">
                Demo Video Course Work
            </div>
            <div class="description">
                Demo video course work description
            </div>
        </div>
    </div>
    <div class="video-card">
        <video width="320" height="240" controls muted>
            <source src="../../../../../assets/media/nature.mp4" type="video/mp4">
        </video>
        <div class="caption">
            <div class="title">
                Demo Video Course Work
            </div>
            <div class="description">
                Demo video course work description
            </div>
        </div>
    </div>
</div>
