    <!-- Start Page Title Area -->
    <div class="page-title-area page-title-style-three item-bg3 jarallax" data-jarallax='{"speed": 0.3}' style="height: 10vh;">
        <div class="container">
            <div class="page-title-content">
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li>About us</li>
                </ul>
                <h2>About Us</h2>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

       <!-- Start Distance Learning Area -->
       <section class="distance-learning-area bg-e4feff pt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="distance-learning-image">
                        <img src="assets/images/about/distance-learning.png" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="distance-learning-content">
                        <span class="sub-title">ABOUT US</span>
                        <h2>India’s Most Rapid Growing E-Learning Research Platform</h2>
                        <h5 style="color:red; font-style: italic;"><i class="bi bi-quote" style="font-size: 2em; color: grey;"></i>ANUSHRAM IS GATEWAY TO RESEARCH PARADIGM</h5>
                        <p>The name Anushram connotes “strongly independent and highly creative nature, with drive and ambition to have experiences and accomplish things out of the ordinary”. Similarly, the Ph.D. Scholar should be highly creative, inventive, imaginative for executing research project/ assignment. </p>
                        <ul class="features-list">
                            <li><span><i class="bi bi-megaphone-fill"></i> Research Assistance</span></li>
                            <li><span><i class="bi bi-clock-history"></i> Guidence</span></li>
                            <li><span><i class="bi bi-journal-bookmark-fill"></i> Remote Learning</span></li>
                            <li><span><i class="bi bi-building-fill-add"></i> Development</span></li>
                        </ul>
                        <a href="" class="default-btn"><i class="bx bx-user-circle icon-arrow before"></i><span class="label">Join For Free</span><i class="bx bx-user-circle icon-arrow after"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="business-shape4"><img src="assets/images/about/business-shape4.png" alt="image"></div>
    </section>
    <!-- End Distance Learning Area -->