    <!-- Start Funfacts Style Area -->
    <section class="funfacts-style-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="single-funfact-card mb-30">
                        <div class="icon">
                            <!-- <i class="bi bi-person-fill-check"></i> -->
                        </div>
                        <h3>
                            <span class="odometer odometer-auto-theme" data-count="50"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">999</span></span></span></span></span></div></span>
                            <span class="sign-icon">+</span>
                        </h3>
                        <p>Expert Instructors</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-6">
                    <div class="single-funfact-card mb-30">
                        <div class="icon bg-0B767A">
                            <!-- <i class="bx bx-book-reader"></i> -->
                        </div>
                        <h3>
                            <span class="odometer odometer-auto-theme" data-count="1754"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">500</span></span></span></span></span></div></span>
                            <span class="sign-icon">+</span>
                        </h3>
                        <p>Total Courses</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-6">
                    <div class="single-funfact-card mb-30">
                        <div class="icon bg-9879B6">
                            <!-- <i class="bx bx-user-pin"></i> -->
                        </div>
                        <h3>
                            <span class="odometer odometer-auto-theme" data-count="8190"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">5000</span></span></span></span></span></div></span>
                            <span class="sign-icon">+</span>
                        </h3>
                        <p>Happy Students</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-6">
                    <div class="single-funfact-card mb-30">
                        <div class="icon bg-FF1949">
                            <!-- <i class="bx bxl-deviantart"></i> -->
                        </div>
                        <h3 class="odometer odometer-auto-theme" data-count="654"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">100</span></span></span></span></span></div></h3>
                        
                        <p>Creative Events</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Funfacts Style Area -->