<div class="card-container">
<div class="box">
<img src="assets/img/dashboard/img01.png" alt="">

<div class="play" routerLink="/user-dash/video/641025b9bd4bdc7cfb65f0c0"><i class="bi bi-play-fill"></i></div>
</div>
<div class="box">
    


    <div class="content">
        <ul>
            <li>
                <i class="bi bi-check-circle-fill"></i>
                Admission
            </li>
            <li>
                <i class="bi bi-check-circle-fill"></i>
                Basics of P.hD
            </li>
            <li>
                <i class="bi bi-check-circle-fill"></i>
                Advanced Learning
            </li>
            <li>
                <i class="bi bi-check-circle-fill"></i>
                Research & Execute
            </li>
            <li>
                <i class="bi bi-check-circle-fill"></i>
                Mentoring</li>
            <li>
                <i class="bi bi-check-circle-fill"></i>
                Career
            </li>
            <li>
                <i class="bi bi-check-circle-fill"></i>
                Mentoring</li>
            <li>
                <i class="bi bi-check-circle-fill"></i>
                Mock Presentation
            </li>
            <li>
                <i class="bi bi-check-circle-fill"></i>
                Support Material During Pre Viva n Viva
            </li>
            <li>
                <i class="bi bi-check-circle-fill"></i>
                Progress Mapping</li>
        </ul>
    </div>
</div>
</div>