   <!-- Start Training Course Banner -->
   <div class="training-course-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="training-course-banner-content">
                    <!-- <h1 style="color:navy;">Join India's <span>Best PhD</span> Expert Assistance</h1> -->


                    <h1 style="color:navy;">  A Revolutionary Online <span>
                        Research Learning</span>, 
                        Teaching, and 
                        Certification Platform</h1>
                    <p>Anushram.com fosters a collaborative learning environment 
                        where users can connect with peers and mentors to discuss 
                        research ideas, seek feedback, and share resources. This 
                        interactive approach encourages the development of critical 
                        thinking, problem-solving, and communication skills.</p>
                    <div class="btn-box">
                        <a routerLink="/certificate" class="default-btn">
                            <i class="bx bx-move-horizontal icon-arrow before"></i>
                            <span class="label">View </span>
                            <i class="bx bx-move-horizontal icon-arrow after"></i>
                        </a>
                   
                        <!-- <div class="demo-video">
                            <div class="play-btn" routerLink="/video/demo">
                                Demo Video&nbsp;
                                <i class="bi bi-play"></i>
                            </div>
                        </div> -->
                    </div>
                 

                    
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="training-course-banner-image">
                    <img src="../../../assets/img/anushram-3d-educational.webp" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Training Course Banner -->