.carousel{
    background-color: #E7F0FD;
}

.testimonial-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    gap:20px;
    

    .testimonial-card{
      
        height: 230px;
        width:360px;
        // border: solid 1px red;
        background-color: #fff;
        border-radius: 10px;
        transition: all 0.3s ease-in;
        border:solid 1px transparent;
        .test-header{
            display: flex;
            align-items: center;
            width:100%;
            justify-content: center;
            gap:30px;
            margin-top: 10px;
            .image{
                display: flex;
                justify-content: center;
                align-items: center;
                width:100px;
                height:100px;
                border-radius: 50%;
              
                box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.151);
                img{
                    max-width: 100%;
                    border-radius: 50%;
                    padding: 3px;
                    background: rgb(229, 228, 228);
                }
            }
            .title{
                display: flex;
                flex-direction: column;
                .name{
                    font-size: 1.2em;
                    font-weight:600 ;
                    color: #ff1949;
                }
                .designation{
                    color: darkgrey;
                }
                .social{
                    display: flex;
                    margin-top: 10px;
                    gap:10px;
                    a{
                        color:gray;

                    }
                    a:hover{
                        color: red;
                    }
                }
            }
        }
        .test-footer{
            padding: 20px;
            margin-bottom: 20px;
            text-align: justify;
            font-weight: 400;

        }
    }
    .testimonial-card:hover{

        transition: all 0.3s ease-in;
        border:solid 1px #ff1949;
        cursor: pointer;
        transform: scale(1.1);
        transform: translateY(-10px);
    }
    // .testimonial-card:hover~.testimonial-card{

    //     transition: all 0.3s ease-in;
    //     opacity: 0.2;
    // }
    
}
.carousel-indicators{
  
    display: flex;
    gap:10px;

    button{
        // background-color: #000;
        height: 1px;
        width:21px;
        transition: all 0.3s ease-in;
        
        border-radius: 50%;
        
    }
    .active{
        transition: all 0.3s ease-in;
        width:90px;
        border-radius: 10px;
    }

}
.carousel-dark .carousel-indicators [data-bs-target] {
    display: flex;
    background-color: #da5c5c;
    background: linear-gradient(to right, #ff1949,#f502e5);
    // border-radius: 10px;
   
    
}

.section-title{
    background-color: #E7F0FD;
    // margin-top: 100px;
    // padding-left: 100px;
    margin-bottom: 0;
    padding: 50px;
    .sub-title {
        text-transform: uppercase;
        display: block;
        color: #ff1949;
        font-weight: 500;
        // margin-bottom: 10px;
    }
}

.default-btn{
    margin-right: 85px;
}

