<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a>
                    DashBoard
                </a>
            </li>
        </ol>
        <ul>
            <li>
                <span>
                    <a>Home </a>> <a>Dashboard</a>
                </span>
            </li>
        </ul>
    </nav>

    <div class="left-right-btn">
        <button><img src="assets/img/left.png" alt=""></button>
        <button><img src="assets/img/right.png" alt=""></button>
    </div>
</div>
<hr />

<app-user-dash-wel></app-user-dash-wel>
  <app-card></app-card>
  <app-phd-add-on></app-phd-add-on>
