<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a>
                    Account
                </a>
            </li>
        </ol>
        <ul>
            <li>
                <span>
                    <a>Home </a>> <a>Dashboard</a> > <a>Account</a>
                </span>
            </li>
        </ul>
    </nav>

    <div class="left-right-btn">
        <button><img src="assets/img/left.png" alt=""></button>
        <button><img src="assets/img/right.png" alt=""></button>
    </div>
</div>
<hr />
<div class="container-fluid" style="flex-direction: column;">
    <div class="status-cnt">
        <div class="status"><span>Status<span
                    style="color: rgb(2, 251, 2);margin-left:5px;font-weight: 500;">Active</span></span></div>
    </div>
    <div class="account-cnt">





        <div class="account-card">
            <div class="header">
                <h6>Subcription Details</h6>
            </div>
            <div class="content-body">
                <ul>

                    <li>
                        <div>Portal Subcription</div>
                        <div style="width:100px ;"><i class="bi bi-check-circle-fill"></i></div>
                        <div>11 Nov 2022 - 10 Nov 2023</div>
                    </li>
                    <li>
                        <div>Annual Package Subcription</div>
                        <div style="width:100px ;"><i class="bi bi-x-circle-fill"></i></div>
                        <div></div>
                    </li>
                </ul>
            </div>
        </div>




        <div class="account-card">
            <div class="header">
                <h6>Payment Details</h6>

            </div>
            <div class="content-body">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th>Date</th>
                            <th>TXN. No.</th>
                            <th>Amount</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                11-01-2022
                            </td>
                            <td>
                                224056674556
                            </td>
                            <td>
                                699.00
                            </td>
                            <td style="font-size: 0.7em;">
                                Portal Subcription
                            </td>
                        </tr>
                        <tr>
                            <td>
                                11-01-2022
                            </td>
                            <td>
                                224056674556
                            </td>
                            <td>
                                699.00
                            </td>
                            <td style="font-size: 0.7em;">
                                Portal Subcription
                            </td>
                        </tr>
                        <tr>
                            <td>
                                11-01-2022
                            </td>
                            <td>
                                224056674556
                            </td>
                            <td>
                                699.00
                            </td>
                            <td style="font-size: 0.7em;">
                                Portal Subcription
                            </td>
                        </tr>
                        <tr>
                            <td>
                                11-01-2022
                            </td>
                            <td>
                                224056674556
                            </td>
                            <td>
                                699.00
                            </td>
                            <td style="font-size: 0.7em;">
                                Portal Subcription
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>