
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Terms and Conditions</li>
        </ol>
      </nav>
</div>
<div class="container">

    <h2>
        Terms and Conditions
    </h2>
    <p>

        The following terms and conditions constitute a legally binding agreement between us (the users and we). When you use our platform, you automatically accept our terms and conditions. Whether you visit our platform using your desktop, laptop, or mobile, or any means, you follow our terms. 
        Below are the specific conditions may apply. 
        Table of Contents 
    </p>
    <h4>
    
        Eligibility 
    </h4>
    <p>
        By accessing or using our platform you assure that you meet the minimum age requirements and can use our services. The age limit to use the platform is based on the purpose you have visited. 
        Registration 
        During registration to get our services, you agree to-
    </p>
    <ul>
        <li>
            Provide your correct contact address to the platform. You may be contacted by the platform for additional contacts if it is required. 
        </li>
        <li>
            Receive promotional emails. If you don’t want to receive any promotional or offer-related stuff by us, you can unsubscribe us as every email carries an unsubscribe button. 
        </li>
    </ul>
    <h4>
        Purpose
    </h4>
    <p>
    
        The platform is created to provide users the benefit of education by offering various educational programs and allied services. The purpose is to make you educated enough to find a successful career. 
        Use of the Platform 
    </p>
    <p>
    
        The services the platform offer are for lawful uses which let you to fulfill your purpose. The company has the absolute right to determine whether a specific action come under the purpose. 
        The following actions are restricted or strictly prohibited-
    </p>
    <ul>
        <li>
            Extracting, copying, sharing, selling, distributing, exploiting content (text, graphics, or photographs), and making changes available on the platform come under strict guidelines.
        </li>
        <li>
            Using the platform for commercial purposes without our consent. 
        </li>
        <li>
            Using any applications or automated programs (robots, crawlers, spiders, HTML parsers, or browser plug-ins) to open, locate, copy, monitor, crawl, scrape, or extract. 
        </li>
        <li>
            Modifying the content through an unauthorized access or using any sort of mediums. 
        </li>
        <li>
            Attempting to breach the security or authentication measures. 
        </li>
        <li>
            Creating the clone of our services to use for your purpose or misguide our users. 
        </li>
        <li>
            Pretending to be our part and harassing our users by sending unsolicited emails  or commercial emails.
        </li>
        <li>
            Using our contact us panel for sending unrelated or spam messages continuously. 
        </li>
        <li>
            Using the platform logo, email address, and other properties for your profits. 
        </li>
    </ul>
    <p>
    
        Disclaimer for Websites with Which We Are Associated
        We follow the best practices to confirm that –
    </p>
    <ul>
        <li>
    
            The websites we use for inclusion with our services.
        </li>
        <li>
            Their data you get are acceptable and useful
    
        </li>
        <li>
            Their presence is not to harm any of our users
    
        </li>
        <p>
            However, we are not responsible for any of the following in respect of the sites with which we are linked-
        </p>
        <li>
    
            Damaged occurs because of downloading
        </li>
        <li>
            System face errors or viruses 
        </li>
        <li>
            Illegal material 
        </li>
        <li>
            The quality of the material or suggestion they offer
        </li>
        <li>
            Technical failures
        </li>
    </ul>
    <h4>
    
        Payment Terms
    </h4>
    
    <p>
    
        YOU ARE REQUESTED TO FOLLOW THE PAYMENT TERMS TO ENJOY OUR SERVICES HASSLES FREE.
        Our platform accepts payment from all major credit and debit cards to provide the best services.
        The company keeps your payment details secret from third-parties and ensures you to not misuse at any circumstances. There are no hidden charges that we take. Every payment you make us is secure and free from extra charges. 
        However, the company gives no guarantee for the timeliness and accuracy of the refund reaching to your bank accounts.  
    </p>
    <h4>
    
        Purchasing and Ordering Disclaimer
    </h4>
    <p>
        Request you to take decisions on your own:<br/>
        If you want to get services from us, we request you to take your decision on your own. It is personal decision. You have the right to conduct independent verification before using the company services. If you see any offers offered by the company, you can contact the organization through email to learn more and take your decision on your own.  
    </p>
    <p>
    
        PRICING- ALL PRICES ARE SUBJECT TO CHANGE WITHOUT ANY NOTICE. THE COMPANY HAS PUT MUCH EFFORT TO MAINTAIN THE PRICING OF THE SERVICES REALISTIC. 
    </p>
    
</div>