<div class="container-fluid">
    <div class="login-message">
        <div class="login-imgae">
            <img src="assets/img/key.png" alt="">
        </div>
    </div>
    <div class="account" *ngIf="!otpSent">
        <div class="account-nav">
            <div class="login-btn" [style.background]="loginBg">
                Forget Password
            </div>
        </div>
        <div class="login-section">
            <form [formGroup]="forgetPassword" (ngSubmit)="sendOTP()">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email</label>
                            <input type="email" class="form-control" formControlName="email" placeholder="Email">
                        </div>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col">
                        <div class="mb-3">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </form>


        </div>

    </div>

    <div class="account" *ngIf="otpSent">
        <div class="account-nav">
            <div class="login-btn" [style.background]="loginBg">
                Set New Password
            </div>
        </div>
        <div class="login-section">
            <form [formGroup]="forgetPassword" (ngSubmit)="resetPassword()">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Enter New Password</label>
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="Password">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control" formControlName="confirmPassword"
                                placeholder="Password">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Enter OTP</label>

                            <input type="text" class="form-control" formControlName="confirmPassword"
                                placeholder="****">

                        </div>
                        <a  style="color:rgb(18, 103, 249)">Resent OTP</a>
                    </div>

                </div>

                <div class="row pt-3">
                    <div class="col">
                        <div class="mb-3">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </form>


        </div>

    </div>

</div>