<!-- Start Page Title Area -->
<div class="page-title-area page-title-style-three item-bg3 jarallax" data-jarallax='{"speed": 0.3}'
    style="height: 10vh;">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Certificate</li>
            </ul>
            <h2>Certificate</h2>
        </div>
    </div>
</div>
<!-- End Page Title Area -->



<!-- Start Funfacts And Feedback Area -->
<section class="funfacts-and-feedback-area bg-f8e8e9 ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="feedback-slides-content">
                    <span class="sub-title">Anushram Certificates</span>
                    <h2>How Anushram.com
                        Certification will help students in
                        their research, current jobs, future
                        jobs and career?</h2>
                    <p>Anushram.com's certifications can significantly benefit students in various aspects of their
                        research, job
                        prospects, and overall career development. These certifications serve as a testament to their
                        research
                        capabilities and provide reassurance to current and future employers about their knowledge and
                        skills.
                    </p>

                    <div class="feedback-slides-two owl-carousel owl-theme owl-loaded owl-drag" *ngIf="false">





                        <div class="owl-stage-outer owl-height" style="height: 342px;">
                            <div class="owl-stage"
                                style="transform: translate3d(-1092px, 0px, 0px); transition: all 0s ease 0s; width: 3822px;">
                                <div class="owl-item cloned" style="width: 546px;">
                                    <div class="single-feedback-slides-item">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                            ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                            facilisis. Lorem ipsum dolor sit amet, consectetur rr adipiscing elit, sed
                                            do eiusmod tempor incididunt.</p>
                                        <div class="client-info d-flex align-items-center">
                                            <img src="../../../assets/images/blogs/user2.jpg" class="rounded-circle"
                                                alt="image">
                                            <div class="title">
                                                <h3>Sarah Taylor</h3>
                                                <span>PHP Developer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 546px;">
                                    <div class="single-feedback-slides-item">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                            ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                            facilisis. Lorem ipsum dolor sit amet, consectetur rr adipiscing elit, sed
                                            do eiusmod tempor incididunt.</p>
                                        <div class="client-info d-flex align-items-center">
                                            <img src="../../../assets/images/blogs/user2.jpg" class="rounded-circle"
                                                alt="image">
                                            <div class="title">
                                                <h3>David Warner</h3>
                                                <span>QA Developer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 546px;">
                                    <div class="single-feedback-slides-item">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                            ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                            facilisis. Lorem ipsum dolor sit amet, consectetur rr adipiscing elit, sed
                                            do eiusmod tempor incididunt.</p>
                                        <div class="client-info d-flex align-items-center">
                                            <img src="../../../assets/images/blogs/user2.jpg" class="rounded-circle"
                                                alt="image">
                                            <div class="title">
                                                <h3>John Smith</h3>
                                                <span>Python Developer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 546px;">
                                    <div class="single-feedback-slides-item">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                            ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                            facilisis. Lorem ipsum dolor sit amet, consectetur rr adipiscing elit, sed
                                            do eiusmod tempor incididunt.</p>
                                        <div class="client-info d-flex align-items-center">
                                            <img src="./Raque - Education Courses &amp; Online Training HTML Template_files/user2.jpg"
                                                class="rounded-circle" alt="image">
                                            <div class="title">
                                                <h3>Sarah Taylor</h3>
                                                <span>PHP Developer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 546px;">
                                    <div class="single-feedback-slides-item">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                            ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                            facilisis. Lorem ipsum dolor sit amet, consectetur rr adipiscing elit, sed
                                            do eiusmod tempor incididunt.</p>
                                        <div class="client-info d-flex align-items-center">
                                            <img src="./Raque - Education Courses &amp; Online Training HTML Template_files/user1.jpg"
                                                class="rounded-circle" alt="image">
                                            <div class="title">
                                                <h3>David Warner</h3>
                                                <span>QA Developer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 546px;">
                                    <div class="single-feedback-slides-item">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                            ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                            facilisis. Lorem ipsum dolor sit amet, consectetur rr adipiscing elit, sed
                                            do eiusmod tempor incididunt.</p>
                                        <div class="client-info d-flex align-items-center">
                                            <img src="./Raque - Education Courses &amp; Online Training HTML Template_files/user1.jpg"
                                                class="rounded-circle" alt="image">
                                            <div class="title">
                                                <h3>John Smith</h3>
                                                <span>Python Developer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 546px;">
                                    <div class="single-feedback-slides-item">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                            ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                            facilisis. Lorem ipsum dolor sit amet, consectetur rr adipiscing elit, sed
                                            do eiusmod tempor incididunt.</p>
                                        <div class="client-info d-flex align-items-center">
                                            <img src="../../../assets/images/blogs/user2.jpg" class="rounded-circle"
                                                alt="image">
                                            <div class="title">
                                                <h3>Sarah Taylor</h3>
                                                <span>PHP Developer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav disabled">
                            <button type="button" role="presentation" class="owl-prev"><i
                                    class="flaticon-arrows"></i></button>
                            <button type="button" role="presentation" class="owl-next"><i
                                    class="flaticon-right-arrow"></i></button>
                        </div>
                        <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button
                                role="button" class="owl-dot"><span></span></button><button role="button"
                                class="owl-dot"><span></span></button></div>
                    </div>
                    <br />

                    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                                aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"
                                aria-label="Slide 6"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6"
                                aria-label="Slide 7"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7"
                                aria-label="Slide 8"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active p-5" data-bs-interval="10000">

                                <div class="ovel"></div>
                                <h5>Skill Validation
                                </h5>
                                <!-- <img src="..." class="d-block w-100" alt="..."> -->
                                <p>Certifications provide tangible proof of a student's research skills, demonstrating
                                    their proficiency and expertise in specific areas.
                                </p>



                            </div>
                            <div class="carousel-item p-5" data-bs-interval="5000">
                                <!-- <img src="..." class="d-block w-100" alt="..."> -->
                                <div class="ovel"></div>
                                <h5>Enhanced Credibility</h5>
                                <p>Holding a certification from a reputable platform like Anushram.com boosts a
                                    student's credibility and professional standing in the research community</p>


                            </div>
                            <div class="carousel-item p-5" data-bs-interval="5000">
                                <!-- <img src="..." class="d-block w-100" alt="..."> -->
                                <div class="ovel"></div>
                                <h5>Competitive Edge</h5>
                                <p>Certified students have a competitive advantage in the job market, as employers often
                                    prioritize candidates with verified research skills and qualifications.</p>




                            </div>
                            <div class="carousel-item p-5" data-bs-interval="5000">
                                <!-- <img src="..." class="d-block w-100" alt="..."> -->
                                <div class="ovel"></div>
                                <h5>Improved Job Prospects</h5>
                                <p> Certifications can open doors to a wider range of job opportunities, as employers
                                    value candidates who have invested in their professional development.</p>


                            </div>
                            <div class="carousel-item p-5" data-bs-interval="5000">
                                <!-- <img src="..." class="d-block w-100" alt="..."> -->
                                <div class="ovel"></div>
                                <h5>Higher Earning Potential</h5>
                                <p>Certified researchers may command higher salaries, as their specialized skills
                                    are often in high demand.</p>




                            </div>
                            <div class="carousel-item p-5" data-bs-interval="5000">
                                <!-- <img src="..." class="d-block w-100" alt="..."> -->
                                <div class="ovel"></div>
                                <h5>Professional Networking</h5>
                                <p>Anushram.com's certification programs connect students with fellow
                                    researchers and experts, enabling them to expand their professional network and
                                    collaborate on future
                                    projects.</p>




                            </div>
                            <div class="carousel-item p-5" data-bs-interval="5000">
                                <!-- <img src="..." class="d-block w-100" alt="..."> -->
                                <div class="ovel"></div>
                                <h5>Reassurance of skills to future employers for job/Knowledge/skills</h5>
                                <p>Anushram.com certifications provide a valuable reassurance of an individual's
                                    research skills to
                                    potential employers. These certifications not only demonstrate a strong foundation
                                    in research
                                    methodologies and analytical thinking, but also showcase the candidate's dedication
                                    to continuous
                                    learning and professional growth.</p>




                            </div>
                            <div class="carousel-item p-5" data-bs-interval="5000">
                                <!-- <img src="..." class="d-block w-100" alt="..."> -->
                                <div class="ovel"></div>
                                <h5>Academic Advancement</h5>
                                <p>Certifications can enhance a student's academic profile, making them more attractive
                                    candidates for graduate
                                    programs or research positions.</p>




                            </div>
                        </div>
                        
                        <!-- 
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button> 
                        -->
                    </div>


                    <!-- <div class="feedback-info">
                            <p>Not a member yet?​ <a href="https://templates.envytheme.com/raque/default/register.html">Register now</a></p>
                        </div> -->
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="funfacts-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="single-funfacts-box">
                                <h3><span class="odometer odometer-auto-theme" data-count="1926">
                                        <div class="odometer-inside"><span class="odometer-digit"><span
                                                    class="odometer-digit-spacer">8</span><span
                                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                            class="odometer-ribbon-inner"><span
                                                                class="odometer-value">1</span></span></span></span></span><span
                                                class="odometer-formatting-mark">,</span><span
                                                class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                            class="odometer-ribbon-inner"><span
                                                                class="odometer-value">9</span></span></span></span></span><span
                                                class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                            class="odometer-ribbon-inner"><span
                                                                class="odometer-value">2</span></span></span></span></span><span
                                                class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                            class="odometer-ribbon-inner"><span
                                                                class="odometer-value">6</span></span></span></span></span>
                                        </div>
                                    </span></h3>
                                <p>Finished Sessions</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="single-funfacts-box">
                                <h3><span class="odometer odometer-auto-theme" data-count="3279">
                                        <div class="odometer-inside"><span class="odometer-digit"><span
                                                    class="odometer-digit-spacer">8</span><span
                                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                            class="odometer-ribbon-inner"><span
                                                                class="odometer-value">3</span></span></span></span></span><span
                                                class="odometer-formatting-mark">,</span><span
                                                class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                            class="odometer-ribbon-inner"><span
                                                                class="odometer-value">2</span></span></span></span></span><span
                                                class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                            class="odometer-ribbon-inner"><span
                                                                class="odometer-value">7</span></span></span></span></span><span
                                                class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                            class="odometer-ribbon-inner"><span
                                                                class="odometer-value">9</span></span></span></span></span>
                                        </div>
                                    </span></h3>
                                <p>Enrolled Learners</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="single-funfacts-box">
                                <h3><span class="odometer odometer-auto-theme" data-count="250">
                                        <div class="odometer-inside"><span class="odometer-digit"><span
                                                    class="odometer-digit-spacer">8</span><span
                                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                            class="odometer-ribbon-inner"><span
                                                                class="odometer-value">2</span></span></span></span></span><span
                                                class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                            class="odometer-ribbon-inner"><span
                                                                class="odometer-value">5</span></span></span></span></span><span
                                                class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                            class="odometer-ribbon-inner"><span
                                                                class="odometer-value">0</span></span></span></span></span>
                                        </div>
                                    </span></h3>
                                <p>Online Instructors</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="single-funfacts-box">
                                <h3><span class="odometer odometer-auto-theme" data-count="100">
                                        <div class="odometer-inside"><span class="odometer-digit"><span
                                                    class="odometer-digit-spacer">8</span><span
                                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                            class="odometer-ribbon-inner"><span
                                                                class="odometer-value">1</span></span></span></span></span><span
                                                class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                            class="odometer-ribbon-inner"><span
                                                                class="odometer-value">0</span></span></span></span></span><span
                                                class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                            class="odometer-ribbon-inner"><span
                                                                class="odometer-value">0</span></span></span></span></span>
                                        </div>
                                    </span>%</h3>
                                <p>Satisfaction Rate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="business-shape6"><img src="../../../assets/images/about/business-shape5.png" alt="image"></div>
</section>
<!-- End Funfacts And Feedback Area -->




<!-- Start Courses Categories Area -->
<section class="courses-categories-area ptb-100">

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let item of List">
                <div class="single-categories-courses-box mb-30">
                    <div class="icon">
                        <!-- <i class="bx bx-code-alt"></i> -->
                        <img src="{{item.icon}}" alt="">
                    </div>
                    <h3>{{item.title}}</h3>
                    <span>60 Courses</span>
                    <!-- routerLink="new" -->
                    <a (click)="navigate(item._id,item.title)" class="link-btn"></a>
                </div>
            </div>



        </div>
    </div>

    <div id="particles-js-circle-bubble-2"><canvas class="particles-js-canvas-el" width="1894" height="1260"
            style="width: 100%; height: 100%;"></canvas></div>
</section>
<!-- End Courses Categories Area -->


<!-- Start Become Instructor & Partner Area -->
<section class="become-instructor-partner-area" style="background-color: rgb(253, 233, 236);">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-content bg-color">
                    <h2>Become an Instructor</h2>
                    <p>Choose from hundreds of free courses, or get a degree or certificate at a breakthrough price.
                        Learn at your own pace.</p>
                    <a href="https://templates.envytheme.com/raque/default/login.html" class="default-btn"><i
                            class="bx bx-plus-circle icon-arrow before"></i><span class="label">Apply Now</span><i
                            class="bx bx-plus-circle icon-arrow after"></i></a>
                </div>
            </div>





            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-partner-content">
                    <h2>Become a Partner</h2>
                    <p>Choose from hundreds of free courses, or get a degree or certificate at a breakthrough price.
                        Learn at your own pace.</p>
                    <a href="https://templates.envytheme.com/raque/default/login.html" class="default-btn"><i
                            class="bx bx-plus-circle icon-arrow before"></i><span class="label">Contact Us</span><i
                            class="bx bx-plus-circle icon-arrow after"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Become Instructor & Partner Area -->