.start-free-trial-area {
    background-image: url(../../../assets/img/start-free-trial-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 155px;
}